*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.annonce-categorie{
    width: 20vw;
    font-size: 2vw;
    margin: 0 auto;
    text-align: center;
}
.newSalle-first-container{
    margin-top: 40px;
    height: 1000px;
    background-color: #d2d2d2;
}
.newSalle-second-container{
    padding: 100px 0;
}
.newSalle-title{
    margin: 0 auto;
    text-align: center;
}
.newSalle-title h1{
    font-size: 5vw;
    color:#292c2f;
}
.newSalle-form p{
    color:#292c2f;
    font-weight: bold;
}

#affiche-input{
    width:100%;
}
