.adminFetchedCard
{
    position: relative;
}
.disabledWithoutHover
{   
    z-index: 2; 
    position: absolute;
    top: 55%; 
    left: 38%; 
}
.cardbehindRm
{
    position: relative;
    z-index: 0;
}
.removeBtn
{
    font-size: 12px; 
}