/*****************NavBar***********************/
.header
{ 
    padding-top: 10px; 
    padding-left: 15px; 
    padding-right: 15px; 
    padding-bottom:10px;  
}
.header a 
{
text-decoration: none; 
}
.hearder a:hover
{
color:#00b39b;
}
.navLinks  a:hover
{
color:#00b39b;
}

/*****starting header css logo first*/ 
.reservi
{
font-size:24px; 
font-weight: 900; 
color:#00b39b;
}
/**************dropdown link*/
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
/* border: 1px solid black;  */
display: none;
padding-top: 10px;
position: absolute;
min-width: 210px;
top: 24px;
margin-left: -60px;
background: #fff;
box-shadow: 0 5px 10px 0 #d3cfc9;
/* 0 5px 5px -5px */
z-index: 10;
text-align: center; 
}

.dropdown-content a {
padding: 4px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1;
    color:#00b39b;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover .dropdownLink {
color:#00b39b;
}
/*****using flex********************/
.barredenavgation
{

    /* border: 1px solid blue; */
    background-color: white; 
    position: fixed;
    width: 100%; 
    z-index: 2000;
    top: 0px; 
    box-shadow: 0px 5px 5px -5px #d3cfc9; 
}
.header
{
/*border: 1px solid black; */
display: flex; 
max-width: 1016.5px; 
margin: auto; 
justify-content: space-between;
align-items: center;
background: rgba(255, 255, 255, 1)    
}
.navLinks
{
/* border: 1px solid red; */    
padding: 0px; 
margin: 0px;  
display: flex;
width: 60%; 
justify-content: space-between;   
list-style-type: none;
} 

.specialcolor
{
color:#00b39b; 
}
.specialcolor :hover
{
color:#00b39b; 
}


/****************toggle ICon**********************************************/
.toggleIcon
{
color: #00b39b;
/*border: 1px solid greenyellow;*/
font-size: 25px; 
margin-right: 5px
}
@media (max-width: 540.5px) {
    .navLinks {
        width: 70%;
        
    }
}
@media (min-width: 480.5px) {
.toggleIcon {
    display: none;
    
}

}
@media (max-width: 480.5px) {
.navLinks
{
    display:none; 
}
}
/***********************header toggle collapse*****/ 
.overlay {
height: 0%;
width: 100%;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #00b39b;
overflow-y: hidden;
transition: 0.5s;
/* opacity: 0.2; */
}

.overlay-content {
position: relative; 
top: 25%;
width: 100%;
text-align: center;
margin-top: -65px;

}
.disabled
{

pointer-events: none;
cursor: default;
color: white; 

}

.overlay a {
padding: 8px;
text-decoration: none;
font-size: 1rem;
color: white;
display: block;
transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
background: rgba(205, 205, 209, 0.6);
}

.overlay .closebtn {
position: absolute;
top: 5.5px;
right: 10px;
font-size: 30px;
color: white; 

}
.closebtn
{
color: white !important; 
}
.space
{
margin-top: 12px; 
}
.reservi1
{
font-size:24px; 
font-weight: 900; 
color: white; 
position: absolute; 
width: 193.45px; 
top: 11.12px; 
left: 15.5px; 
}

@media screen and (max-height: 450px) {
.overlay {
    overflow-y: auto;
}
.overlay a 
{
    font-size: 20px
}
.overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    color: white; 
    font-weight:100;
}
}
.overlay-content hr
{
    width: 90%; 
}
